<?xml version="1.0" encoding="utf-8"?>
    <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
      <channel>
        <title>Un blog goutû sur Symfony2</title>
        <description>Blog sur le tutoriel Symfony2 du siteduzero ainsi que des trucs et astuces</description>
        <link>http://www.tutoriel-symfony2.fr</link>
        <language>fr</language>
        <pubDate>{{ buildDate|date('c') }}</pubDate>
        <lastBuildDate>{{ buildDate|date('c') }}</lastBuildDate>
        <atom:link href="http://www.tutoriel-symfony2.fr/blog/feed.rss" rel="self" type="application/rss+xml" />

        {% for article in articles %}
            <item>
              <title>{{ article.titre }}</title>
              <description><![CDATA[{{ article.contenu|markdown }}]]></description>
              <link>{{ url('sdzblog_voir', {'slug': article.slug}) }}</link>
              <guid isPermaLink="true">{{ url('sdzblog_voir', {'slug': article.slug}) }}</guid>
              <pubDate>{{ article.date|date('c') }}</pubDate>
            </item>
        {% endfor %}
      </channel>
    </rss>